.side-menu {
	  background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%);
}

.app-logo {
  background: url('../images/app-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 85%;
  height: 75px;
  display: block;
  margin: 20px auto 40px;
}

.login-img {
	background: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.card-body {
	margin: 10px 40px;
}

.system-title {
	background-image: url('../images/site-logo.png');
	background-size: contain;
	width: 100%;
    height: 70px;
	background-repeat: no-repeat;
	background-position: center;
}

a:hover{
	text-decoration: none;
	color: #d9d9d9;
}

a{
	transition: all 0.5s ease;
}

.white-text {
	color: #fff;
}