{extends file='layout.html'}
{block name=body}

<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{site_url('/admin/secretaries')}">Secretaries</a></li>
            <li class="breadcrumb-item active">{$data.secretary->title}
                {$data.secretary->firstname}
                {$data.secretary->lastname}</li>
        </ol>
    </nav>

    <a class="btn btn-info float-right" href="{site_url('/admin/editSecretary/')}{$data.secretary->userId}">Edit</a>

    <h3>{$data.secretary->title}
        {$data.secretary->firstname}
        {$data.secretary->lastname}</h3>
    <small class="badge badge-secondary text-sm text-capitalize">{$data.secretary->type}</small>

    <hr />

    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <dl>
                        <dt>Email</dt>
                        <dd>{$data.secretary->email}</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl>
                        <dt>Phone</dt>
                        <dd>{$data.secretary->phone}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt>Gender</dt>
                        <dd>{$data.secretary->gender}</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl>
                        <dt>Address</dt>
                        <dd>{$data.secretary->address}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <dl>
                        <dt>Birthday</dt>
                        <dd>{$data.secretary->dob}</dd>
                    </dl>
                </div>
            </div>
           
        </div>
    </div>
</div>

{/block}