<html>

<head>
    <title>{block name=title}Hospital Reservation System{/block}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <style>
        body {
            background: #fafafa;
        }

        #left-nav {
            min-height: 100vh;
        }

        #left-nav .list-group-item {
            background-color: transparent;
        }

        #left-nav .list-group-item {
            font-size: 125%;
        }

        .progress-icon {
            font-size: 300%;
            vertical-align: middle;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.btn-confirm').click(function (e) {
                e.preventDefault();
                var a = $(e.currentTarget);
                if (confirm("Are your sure?")) {
                    location.assign(a.attr('href'));
                }
            });

            $('.data-table').DataTable();
        });
    </script>
    {block name=head}{/block}
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="min-height: 100vh; position: relative;">
            <div class="col-2 bg-info text-white" id="left-nav">
                <div class="my-3">
                    <i class="fas fa-hospital float-right" style="font-size:300%; position: relative; top:2rem"></i>
                    <h3 class="text-right" style="margin-right:4rem">
                        Hospital Reservation System
                    </h3>
                </div>

                <ul class="list-group list-group-flush">
                    {if isset($smarty.session.user)}
                    <!-- patient Menu -->
                    {if $smarty.session.user->type == 'patient'}
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/patient')}">
                            <i class="fas fa-home mr-2"></i>
                            Home&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/patient/editInfo')}">
                            <i class="fas fa-user mr-2"></i>
                            Edit info&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/patient/applications')}">
                            <i class="fas fa-file-invoice mr-2"></i>
                            Applications&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/patient/appointments')}">
                            <i class="fas fa-calendar-alt mr-2"></i>
                            Appointments&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/patient/doctors')}">
                            <i class="fas fa-user-md mr-2"></i>
                            Doctors&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/home/logout')}">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            Logout&nbsp;
                        </a>
                    </li>
                    {/if}
                    <!-- Admin Menu -->
                    {if $smarty.session.user->type == 'admin'}
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/admin/doctors')}">
                            <i class="fas fa-user-md mr-2"></i>
                            Doctors&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/admin/secretaries')}">
                            <i class="fas fa-user-ninja mr-2"></i>
                            Secretaries&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/home/logout')}">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            Logout&nbsp;
                        </a>
                    </li>
                    {/if}
                    {/if}
                    {if not isset($smarty.session.user)}
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/home/login')}">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            Login&nbsp;
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-white" href="{site_url('/home/signup')}">
                            <i class="fas fa-user-plus mr-2"></i>
                            Sign up&nbsp;
                        </a>
                    </li>
                    {/if}
                </ul>

                {if isset($smarty.session.user) && $smarty.session.user->type == 'patient'}
                <p style="position: absolute; bottom: 0;">Hi {$smarty.session.user->title}
                    {$smarty.session.user->firstname}
                    {/if}
                    {if isset($smarty.session.user) && $smarty.session.user->type != 'patient'}
                    <p style="position: absolute; bottom: 0;">Hi {$smarty.session.user->title}
                        {$smarty.session.user->firstname}
                        <span class="badge badge-secondary text-capitalize">{$smarty.session.user->type}</span></p>
                    {/if}
            </div>
            <div class="col-10 p-5">
                {block name=body}{/block}
            </div>
        </div>
    </div>
</body>

</html>