{extends file='layout.html'}
{block name=body}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{site_url('/secretary/doctors')}">Doctors</a></li>
            <li class="breadcrumb-item "><a href="{site_url('/secretary/doctor')}/{$data.doctor->userId}">{$data.doctor->title}
                    {$data.doctor->firstname} {$data.doctor->lastname}</a></li>
            <li class="breadcrumb-item active">Applications</li>
        </ol>
    </nav>

    <h3>All Applications for <i>{$data.doctor->title} {$data.doctor->firstname} {$data.doctor->lastname}</i></h3>
    <hr />

    <table class="table table-bordered table-striped bg-white data-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Submitted</th>
                <th>Status</th>
                <th>Reason</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.applications item=application name=foo}
            <tr>
                <!-- <td>{$smarty.foreach.foo.index + 1}</td> -->
                <td>{$application->applicationId}</td>
                <td>{$application->doctor->title} {$application->doctor->firstname} {$application->doctor->lastname}</td>
                <td>{$application->patient->title} {$application->patient->firstname} {$application->patient->lastname}</td>
                <td>{$application->submitted}</td>
                <td>{$application->status}</td>
                <td>{$application->reason}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{site_url('/secretary/application/')}{$application->applicationId}">View</a>
                        <!-- {if $application->status == 'Pending'}
                    <a class="btn btn-primary btn-sm" href="{site_url('/secretary/application/')}{$application->applicationId}">View</a>
                    {/if} -->
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>

{/block}