{extends file='layout.html'}
{block name=body}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{site_url('/secretary/doctors')}">Doctors</a></li>
            <li class="breadcrumb-item "><a href="{site_url('/secretary/doctor')}/{$data.doctor->userId}">{$data.doctor->title}
                    {$data.doctor->firstname} {$data.doctor->lastname}</a></li>
            <li class="breadcrumb-item active">Appointments</li>
        </ol>
    </nav>

    <h3>All Appointments for <i>{$data.doctor->title} {$data.doctor->firstname} {$data.doctor->lastname}</i></h3>
    <hr />

    <table class="table table-bordered table-striped bg-white data-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>EndTime</th>
                <th>Status</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.appointments item=appointment name=foo}
            <tr>
                <!-- <td>{$smarty.foreach.foo.index + 1}</td> -->
                <td>{$appointment->appointmentId}</td>
                <td>{$appointment->doctor->title} {$appointment->doctor->firstname} {$appointment->doctor->lastname}</td>
                <td>{$appointment->patient->title} {$appointment->patient->firstname} {$appointment->patient->lastname}</td>
                <td>{$appointment->date}</td>
                <td>{$appointment->startTime}</td>
                <td>{$appointment->endTime}</td>
                <td>{$appointment->status}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{site_url('/secretary/appointment/')}{$appointment->appointmentId}">View</a>
                    {if $appointment->status == 'Confirmed'}
                    <a class="btn btn-danger btn-sm btn-confirm" href="{site_url('/secretary/cancelAppointment/')}{$appointment->appointmentId}">Cancel</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>

{/block}